footer {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    color: aliceblue;
    box-shadow: 0 1px 80px rgba(187, 182, 182, 0.4);
    align-items: center;
    justify-content: center;
    margin-top: auto;
}