.top{
    display: block;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0px 1px 80px rgba(187, 182, 182, 0.5);
    padding: 0.5rem;
    /* background-color: rgb(165, 158, 158); */
    margin: 0 auto 50px;
    font-size: 35px;
    font-weight: bold;
    color: aliceblue;
}