button {
  appearance: none;
  outline: 0;
  background-color: #31553a;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 20px;
  width: 100px;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #497c56;
  cursor: pointer;
  transform: scale(1.1);
}

.button:hover,
.button:active {
  background-color: #497c56;
  cursor: pointer;
  transform: scale(1.1);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
